<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- URLs -->
		<add key="Saucedemo" value="https://www.saucedemo.com/" />
		<add key="GuruAlert" value="http://demo.guru99.com/test/delete_customer.php" />
		<add key="GuruPopup" value="http://demo.guru99.com/popup.php" />
		<add key="Google" value="https://www.google.com/" />
	</appSettings>
</configuration>
	